<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />

        <!--
        my CSS styles
        -->
        <link href="{{ SITEURL }}/theme/css/bootstrap.css"       rel="stylesheet" type="text/css">
        <link href="{{ SITEURL }}/theme/css/main.css"            rel="stylesheet" type="text/css">

        <link href="{{ SITEURL }}/theme/css/cosmo.css"           rel="stylesheet" type="text/css">
        <link href="{{ SITEURL }}/theme/css/font-awesome.css"    rel="stylesheet" type="text/css"/>
        <link href="{{ SITEURL }}/theme/css/pygment-borland.css" rel="stylesheet" type="text/css"/>

        <!--
        include Angular first
        -->
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/angular-1.3.15.js"></script>
        {% endblock head %}
</head>

<body id="index" class="home">
    <div class="container">
        <h1><a href="{{SITEURL}}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        <hr />

        {% block content %}
        {% endblock %}
    </div>

    <footer id="contentinfo" class="body">
    <hr />
    <p style="text-align: center">
        <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
        </span>
        Made from the command line with vim by 
        <a href="http://charlesreid1.com">charlesreid1</a>.
    </p>

    <p style="text-align: center;">Made with HTML (
    <a href="http://http://bootstrap.org/">Bootstrap</a>,
    <a href="http://bootswatch.com">Bootswatch</a>), 
    Javascript (
    <a href="http://http://d3js.org/">D3.js</a>, 
    <a href=https://angularjs.org/">Angular.js</a>,
    <a href="https://jquery.com/">jQuery</a>), 
    and Python (
    <a href="http://getpelican.com">Pelican</a>,
    <a href="http://numpy.org">Numpy</a>,
    <a href="http://python.org">the python standard library</a>).
    </p>

        <script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery-1.11.2.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/bootstrap-3.3.4.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/d3-3.5.5.js"></script>
        <!--
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/leaflet-0.7.3.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/js/leaflet.ajax.min.js"></script>
        -->
    </footer><!-- /#contentinfo -->

</body>
</html>
